{% extends "base.html" %} {% block title %}Get Quote{% endblock %}
{% block content %}

<form method="POST" id="fuelQuoteForm" style="padding: 20px; margin : 0 auto; margin-top :40px; background-color: white; opacity: 85%; width : 50%; border-radius: 1%;">    <h3 align="center">Fuel Quote</h3>

    <!-- Gallons Requested -->
    <div class="form-group">
      <label for="gallonsRequested">Gallons Requested:</label>
      <input type="number" id="gallonsRequested" name="gallonsRequested" required min="1" step="1" required>
    </div>

    <!-- Delivery Date -->
    <div class="form-group">
        <label for="deliveryDate">Delivery Date:</label>
        <input type="date" id="deliveryDate" name="deliveryDate" required>
    </div>
    <br>
    <div style="text-align: center;"> 
      <button type="submit" class="btn btn-primary">Get Quote</button>
    </div>

    <input type="hidden" id="totalAmountHidden" name="totalAmountHidden" value="{{ quote.total_amount_due }}">
    
    <div style="text-align: center;"> 
        <button type="button" class="btn btn-primary" onclick="showConfirmation()">Get Quote</button>
    </div>
</form>

<script>
  function showConfirmation() {
      // Retrieve total amount due from the hidden field
      var totalAmountDue = document.getElementById("totalAmountHidden").value;
  
      // Display confirmation popup
      var isConfirmed = confirm("Total Amount Due: $" + totalAmountDue + "\n\nDo you want to proceed with the Fuel Quote?");
      
      // If the user confirms, submit the form
      if (isConfirmed) {
          document.getElementById("fuelQuoteForm").submit();
      }
  }
</script>
  


<form method="GET" style="padding: 20px; margin : 0 auto; margin-top :40px; background-color: white; opacity: 85%; width : 50%; border-radius: 1%;">
    <!-- Delivery Address (non-editable) -->
    <div class="form-group">
      <label for="deliveryAddress">Delivery Address:</label>
      <input type="text" id="deliveryAddress" name="deliveryAddress" value="{{ user.address1 }}" readonly>
    </div>

    <!-- Suggested Price / gallon -->
    <div class="form-group">
        <label for="suggestedPrice">Suggested Price ($/gallon):</label>
        <input type="text" id="suggestedPrice" name="suggestedPrice" value="$ {{ quote.suggested_price }}" readonly>
    </div>

    <!-- Total Amount Due -->
    <div class="form-group">
        <label for="totalAmount">Total Amount Due:</label>
        <input type="text" id="totalAmount" name="totalAmount" value="$ {{ quote.total_amount_due }}" readonly >
    </div>
  </form>
 
{% endblock %}