{% extends "base.html" %} {% block title %}Quote History{% endblock %}
{% block content %}
<div style="padding: 20px; margin: 0 auto; margin-top: 40px; background-color: white; opacity: 85%; width: 50%;">
    <h3 align="center">Fuel Quote History</h3>

    {% for quote in user.quotes[::-1] %}
    <form method="GET" style="margin-top: 20px; border: 1px solid #ccc; padding: 10px;">
        <!-- Gallons Requested -->
        <div class="form-group">
            <label for="gallonsRequested{{ loop.index }}">Gallons Requested:</label>
            <input type="text" id="gallonsRequested{{ loop.index }}" name="gallonsRequested{{ loop.index }}" readonly value="{{ quote.gallons_requested }}">
        </div>

        <!-- Delivery Address -->
        <div class="form-group">
            <label for="deliveryAddress{{ loop.index }}">Delivery Address:</label>
            <input type="text" id="deliveryAddress{{ loop.index }}" name="deliveryAddress{{ loop.index }}" readonly value="{{ quote.address }}">
        </div>

        <!-- Delivery Date -->
        <div class="form-group">
            <label for="deliveryDate{{ loop.index }}">Delivery Date:</label>
            <input type="text" id="deliveryDate{{ loop.index }}" name="deliveryDate{{ loop.index }}" readonly value="{{ quote.delivery_date }}">
        </div>

        <!-- Suggested Price / gallon -->
        <div class="form-group">
            <label for="suggestedPrice{{ loop.index }}">Suggested Price ($/gallon):</label>
            <input type="text" id="suggestedPrice{{ loop.index }}" name="suggestedPrice{{ loop.index }}" readonly value="$ {{ quote.suggested_price | round(2) }}">
        </div>

        <!-- Total Amount Due -->
        <div class="form-group">
            <label for="totalAmount{{ loop.index }}">Total Amount Due:</label>
            <input type="text" id="totalAmount{{ loop.index }}" name="totalAmount{{ loop.index }}" readonly value="$ {{ quote.total_amount_due | round(2) }}">
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}